<!-- message for no products in the cart-->

<div *ngIf="arrayCart.length == 0" class="text-center mt-4">
  <p class="h2">Non hai acquistato nessun prodotto, ritorna allo</p>
  <button class="btn btn-success fs-4 text-center mb-5 mt-4" [routerLink]="['/shop']">
    Shop 🛍
  </button>
</div>
<!--Cart List-->
<div class="container" *ngIf="arrayCart.length>0">
  <ul class="list-group fs-3">
    <li class="list-group-item text-center">  Prodotto  <span class="ps-4">Prezzo</span>     </li>
    <li class="list-group-item text-center" *ngFor="let prod of arrayCart"><div class="text-center ">{{prod.name}}     <span class="ps-4">{{prod.price}}€</span></div>
    </li>

  </ul>
</div>
<!-- total price-->
<div class="container">
  <p *ngIf="arrayCart.length > 0" class="fs-4 text-center fw-bold mt-5">
    Il prezzo totale è {{ this.tot }} €
  </p>
</div>

<!-- reactive form-->
<div class="container mt-5" >
  <h2 class="text-center mb-4">Completa il tuo acquisto</h2>
  <div class="row">
  <div class="col text-center">
      <form [formGroup]="form" (ngSubmit)="submit()" >

<div class="form-group ">

              <label for="name" class="fs-4 mb-3 mt-3">Inserisci il tuo nome</label>
              <input
                id="name"
                required
                formControlName="name"
                class="form-control fs-4"
                type="text"
                placeholder="inserisci qui il tuo nome"
              />

            <div
            *ngIf="getFormControl('name').invalid &&
            getFormControl('name').touched"
              class="alert alert-danger mt-1 text-center"
              role="alert"
            >
              Campo obbligatorio, Nome necessario
            </div>
          </div>

           <div class="form-group">
              <label for="alterEgo" class="fs-4 mb-3 mt-3">email</label>
              <input
                id="email"
                required
                formControlName="email"
                class="form-control fs-4"
                type="email"
                placeholder="inserisci qui la tua email"
              />

            <div
            *ngIf="getFormControl('email').invalid &&
            getFormControl('email').touched"
              class="alert alert-danger mt-1 text-center"
              role="alert"
            >
              Campo obbligatorio, email necessaria
            </div>
          </div>

            <div class="form-group">
              <label for="name" class="fs-4 mb-3 mt-3">Inserisci il tuo indirizzo</label>
              <input
                id="address"
                required
                formControlName="address"
                class="form-control fs-4"
                type="text"
                placeholder="inserisci qui il tuo indirizzo"
              />

            <div
            *ngIf="getFormControl('address').invalid &&
            getFormControl('address').touched"
              class="alert alert-danger mt-1 text-center"
              role="alert"
            >
              Campo obbligatorio, Indirizzo necessario per la consegna
            </div>
          </div>
          <div class="row ">
            <div class="col d-grid ">
              <p class="text-center bg-danger mt-4 fs-5" *ngIf="arrayCart.length==0">Non puoi completare l'ordine se non ci sono prodotti nel carrello</p>
              <button
                type="submit"
                [disabled]="form.invalid  || this.arrayCart.length==0"
                class="btn btn-primary fs-4 mt-3"
              >
                completa il tuo ordine
              </button>
            </div>
          </div>

      </form>
    </div>
  </div>
</div>
